@import url("https://fonts.googleapis.com/css?family=Tangerine");
body {
  background-color: #1a1a1a;
}
a {
  font-family: monospace;
  color: #fff;
}

h1 {
  color: #fff;
  font-family: monospace;
  font-size: 1.2em;
  margin: 20px;
}
h2 {
  color: #fff;
  font-family: monospace;
  font-size: 1.2em;
  margin: 20px;
}
.quotes {
  text-align: justify;
  font-family: sans-serif;
  font-size: 1em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000;
  background-color: #f1ebc3;
  margin: 3px;
  box-shadow: -20px 20px 20px -10px #000;
  border-radius: 5px;
}
p {
  color: rgb(0, 0, 0);
  padding: 0px;
  font-family: monospace;
  font-size: 1em;
    padding: 10px;
}

.branco p {
  color: rgb(255, 255, 255);
  padding: 0px;
  font-family: monospace;
  font-size: 1em;
    padding: 10px;
}

.subtitle {
  color: #fff;
}
.reference {
  padding: 20px;
}
.ads {
  margin-top: 30px;
  font-family: monospace;
  height: auto;
  color: #000;

  text-align: center;
  font-size: 1.0em;
}
.ads2 {
  margin-top: 30px;
  font-family: monospace;
  height: auto;
  color: #000;

  text-align: center;
  font-size: 1.0em;
}
.ads3 {
  margin-top: 30px;
  font-family: monospace;
  height: auto;
  color: #000;
  text-align: center;
  font-size: 1.0em;
}
.ads4 {
  margin-top: 20px;
  font-family: monospace;
  height: auto;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.spaco {
  height: 10px;
}

.span {
  color: #fff;
  padding: 0px;
  font-family: monospace;
  font-size: 0.9em;
}
.estilo2 span {
  color: #fff;
  padding: 0px;
  font-family: monospace;
  font-size: 1.0em;
}

.p {
  color: #fff;
  padding: 0px;
  font-family: monospace;
  font-size: 0.9em;
}

.button {
  padding: 5px;
  margin: 3px;
  font-family: monospace;
  color: #000;
  background-color: #d9a374;
  text-align: center;
  font-weight:bold;
  font-size: 0.8em;
  border-radius: 3px;
  box-shadow: -20px 20px 20px -10px #000;
}
.author {
  font-style: italic;
  color: #000;
  font-weight: bold;
}



h3 {
  color: #fff;
  padding: 0px;
  font-family: monospace;
  font-size: 1.0em;
}
li {
  color: #fff;
  padding: 0px;
  font-family: monospace;
  font-size: 1.0em;
}



!//// blink /////!
      .blink {
        animation: blinker 0.6s linear infinite;
        color: #1c87c9;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      .blink-one {
        animation: blinker-one 1s linear infinite;
      }
      @keyframes blinker-one {
        0% {
          opacity: 0;
        }
      }
      .blink-two {
        animation: blinker-two 1.4s linear infinite;
      }
      @keyframes blinker-two {
        100% {
          opacity: 0;
        }
      }
	  
!//// blink /////!	

!//// blink2 /////!	
      .blink {
        animation: blinker 0.6s linear infinite;
        color: #1c87c9;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      .blink-one {
        animation: blinker-one 1s linear infinite;
      }
      @keyframes blinker-one {
        0% {
          opacity: 0;
        }
      }
      .blink-two {
        animation: blinker-two 1.4s linear infinite;
      }
      @keyframes blinker-two {
        100% {
          opacity: 0;
        }
      }

!//// blink2 /////!